.menuUlist{
    display: flex;
    justify-content: space-evenly;
    width:100%;
}

.menuSubUlist{
    position: absolute;
    display: flex;
    padding-top: 15px;
    width: 15%;
    opacity: 0;
    visibility: hidden;
}

.menuUlist li:hover .menuSubUlist{
    opacity:1;
    visibility: visible;
}

.menuSubUlist li{
    flex-grow: 1.4;
}
